{% extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
    body {
        background: skyblue;
        font-family: 'Cambria';
    }
</style>
<p style='text-align:left;padding-left:470px;float:left;color:#001540;font-size:50px'><b>Aether</b></p>
<p style='float:right;align:right;padding-right:440px;color:#001540;border-bottom:1px;font-size:50px'><b>Analytics<b></p>
<br>
<p style="text-align:center;"><img src="https://drive.google.com/uc?export=view&id=1Kyzr_AMg5xF1-tU9E3SAmQM9rt8Dj23N" width="150" height="120" class="center"></p>
{% comment %} <img src="D:\SHISHIR\Maybe\JobMatching\main\templates\main\AetherAnalyticsLogo.jpg"> {% endcomment %}
<hr style="border:none;height:10px;background:#001540;width:100%;margin-left:10px;opacity:10;width:100%;">
<br>
<br>
<br>
<br>
<br>
    <center>
        <form action='/data' method='post'>
            <label for="Desired Job Title/Pathway" style="font-size: 30px">Desired Job Title/Pathway</label>
            <br>
            <select name="cars" id="cars">
            <option value="volvo">---------</option>
            <option value="saab">---------</option>
            <option value="mercedes">---------</option>
            <option value="audi">---------</option>
            </select>
            <br>
            <label for="Desired Job Title/Pathway" style="font-size: 30px">Specific Desired Company</label>
            <br>
            <p style="text-align:center">
            <select name="cars" id="cars" style="align:center">
            <option value="volvo">---------</option>
            <option value="saab">---------</option>
            <option value="mercedes">---------</option>
            <option value="audi">---------</option>
            </select>
            </p>
            <button onclick="location.href = 'http://127.0.0.1:8000/chat ;" type="submit" class="btn btn-success" style="float:right;margin-top:300px">Submit</button>
        </form>
    </center>

{% endblock %}