{% extends 'main/base.html' %}
{% block title %}
Match Form
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
{%for msg in messages %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{%endfor%}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}{{form|crispy}}
<button type="submit" class="btn btn-success">Submit</button>
</form>
<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
</script> 
{% endblock %}