{% extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
    body {
        background-image: url("https://drive.google.com/uc?export=view&id=1PFbbWR28WEYXUYPDr3cH1FCpxkYLBKUs");
       
        font-family: 'Cambria';
    }

    
</style>
<br>
<br>
<br>
<br>
<br>
<!--<p style='text-align:left;padding-left:150;float:left;color:#001540;font-size:50px'><b>Aether Analytics</b></p>-->
<br>
<!--<p style="text-align:center;"><img src="https://drive.google.com/uc?export=view&id=1Vh7Jdmh6Q3ghLuUII13uCXxgzSmkHJYf" width="160" height="140" class="rounded-circle"></p>-->
<br>
<br>
<br>


    <left>
        <form action='/homeroom' method='post'>
            {% csrf_token %}
            <label for="Desired Job Title/Pathway" style="font-size: 30px">Desired Job Title/Pathway</label>
            <br>
            <select name="cars" id="cars">
            <option value="volvo">Software Engineer</option>
            <option value="saab">Hardware Developer</option>
            <option value="mercedes">Systems Administrator</option>
            <option value="audi">Marketing Technologist</option>
            <option value="audi">Web Analytics Developer</option>
            <option value="audi">Content Manager</option>
            <option value="audi">Content Strategist</option>
            <option value="audi">Information Architect</option>
            <option value="audi">UX Designer</option>
            </select>
            <br>
            <label for="Specific Desired Company" style="font-size: 30px">Specific Desired Company</label>
            <br>
            <p style="text-align:left">
            <select name="cars" id="cars" style="align:center">
            <option value="volvo">Apple Inc.</option>
            <option value="saab">Alphabet Inc.</option>
            <option value="mercedes">Microsoft Corporation</option>
            <option value="audi">Samsung Group</option>
            <option value="audi">Tencent Holdings Ltd.</option>
            <option value="audi">Meta Platforms</option>
            <option value="audi">Intel Corporation</option>
            <option value="audi">Cisco Systems Inc.</option>
            </select>
            </p>
            <p style="text-align:left">
            <button onclick="location.href = 'http://127.0.0.1:8000/homeroom';" type="submit" class="btn btn-success" style="float:center;margin-top:20px">Submit</button></p>
        </form>
    </center>

    <head>
        <link rel="stylesheet" href="style.css">
    </head>
{% endblock %}
